.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-size: 100vw 100vh;
  background-color: darkolivegreen;
}

.game-area {
  padding: 10px 10px 10px 10px;
  width: 50%;
  height: 60%;
  background-color: rgb(254, 214, 165);
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.menu-area {
  width: 50%;
  margin-bottom: 50px;
}

.menu-button {
  padding-bottom: 50px;
}

.item-horizontal {
  border-radius: 5px;
  background-image: url("./images/item-background-horizontal.jpg");
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.item-vertical {
  border-radius: 5px;
  background-image: url("./images/item-background-vertical.jpg");
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.item-target {
  border-radius: 5px;
  background-color: red;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}
